img {
  width: 50%;
  margin-top: 30px;
}

body {
  width: 80%;
  margin: 5% 10%;
}

#div-one {
  padding: 20px 10%;
  background-color: #eafae0;
  text-align: center;
}

p, h3, form {
  font-family: Arial, "Arial Narrow", sans-serif;
}

h1 {
  text-align: center;
  font-family: "Arial Narrow", Arial, sans-serif;
  color: white;
  background-color: #6b99d0;
  padding: 20px;
}

#div-two {
  padding: 20px 10%;
  background-color: #fefdc3;
  margin-top: 30px;
  margin-bottom: 30px;
}

#display-result {
  background-color: #fee2fc;
  width: 100%;
}
